# ═══════════════════════════════════════════════════════════════
# Dual Filament System – FYSETC S6 v2.1
# Feeder 1 = E0-slot  |  Feeder 2 = E1-slot
# Kør på Raspberry Pi (MainsailOS) – manual_stepper
# ═══════════════════════════════════════════════════════════════

[include mainsail.cfg]
[include macros.cfg]
[include filament_sensor.cfg]

[manual_stepper feeder1]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 7.710
full_steps_per_rotation: 200
velocity: 25
accel: 200

[manual_stepper feeder2]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
microsteps: 16
rotation_distance: 7.710
full_steps_per_rotation: 200
velocity: 25
accel: 200

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_410061000751333134383631-if00

[printer]
kinematics: none
max_velocity: 100
max_accel: 1000
